* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.float_left {
   float: left;
}
.vh100 {
   height: 100vh;
}
.w100 {
   width: 100%;
}
.bgtrans {
   background-color: transparent;
}
.block {
   display: block;
}
.ibl {
   display: inline-block;
   vertical-align: top;
}
.p40 {
   padding: 40px;
}
.p50 {
   padding: 50px;
}
.tac {
   text-align: center;
}
.caps {
   text-transform: uppercase;
}

.newnote {
   border: 2px solid purple;
   margin: 20px auto;
   line-height: 40px;
   font-size: 15px;
   background-color: #fffffc;
   cursor: pointer;
}

.bggreen {
   background-color: #282c34;
   color: white;
}

.w95{
   width: 95%;
}

.sidebar {
   height: calc(100vh - 80px - 60px - 150px);
   overflow-x: hidden;
   overflow-y: unset;
}

.editArea {
   margin: 30px auto;
   resize: none;
   min-height: calc(100vh - 80px - 30px - 60px - 50px);
   font-size: 18px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   padding: 10px;
   text-align: justify;
}

.header {
   font-size: 40px;
   letter-spacing: 5px;
   font-weight: normal;
   font-family: monospace;
   text-align: center;
   padding: 20px 10px 10px;
}

.noteHead {
   font: inherit;
   text-transform: uppercase;
   padding: 10px 20px;
   border: none;
   margin: 5px 0;
   cursor: pointer;
}

input:focus,
button:focus,
textarea:focus {
   outline: none;
}

.App {
   overflow: hidden;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
